<!-- views/chat.ejs -->
<%- include('./partials/header.ejs') %>

<div class="h-[100vh] w-[100vw] bg-red-800">
    <div class="w-full h-[70px] bg-green-300 flex gap-9 items-center px-4">
        <div class="rounded-full h-[60px] w-[60px] bg-pink-400"></div>
        <h1>himanshu</h1>
    </div>

</div>
<%- include('./partials/footer.ejs') %>

